second_repository/src/main/mule/second_repository.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="932b085c-4b42-4470-8d1a-1c836a4208ed" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="second_repositoryFlow" doc:id="d6a36868-124e-422c-8fbe-0875559df38d" >
		<http:listener doc:name="Listener" doc:id="591a3fef-5514-45a2-887c-992f63024ad3" config-ref="HTTP_Listener_config" path="/second"/>
		<set-payload value="My second repository has been created" doc:name="Set Payload" doc:id="ceb37fb7-4a5a-4404-9e32-2346e63f704b" />
		<logger level="INFO" doc:name="Logger" doc:id="97c5ff16-66e7-46fc-8968-6e191c6d4369" message="#[payload]]"/>
	</flow>
</mule>
